<table class="table table-striped">
  <thead>
  <tr>
    <th>Group Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Employee Type</th>
    <th>Shift</th>
  </tr>
  </thead>
  <tbody>
  <% @groups.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.start_date.to_date if f.start_date %></td>
      <td><%= f.end_date.to_date if f.end_date %></td>
      <td><%= EmployeeType.find_by(id: f.employee_type_id).name %></td>
      <td><%= Shift.find_by(id: f.shift_id).name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
