<div class="vertical-menu">
  <%= link_to root_path do %>
    <i class="fas fa-tachometer-alt"></i>Dashboard
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-ambulance"></i>Entries
  <% end %>
  <%= link_to patient_registrations_path do %>
    <i class="fas fa-bed"></i>Patients
  <% end %>
  <%= link_to employees_path do %>
    <i class="fas fa-user-tie"></i>Employees
  <% end %>
  <%= link_to departments_path do %>
    <i class="fas fa-boxes"></i>Departments
  <% end %>
  <%= link_to duty_sheets_path do %>
    <i class="fas fa-hard-hat"></i>Duties
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-user-md"></i>Doctors
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-file-invoice-dollar"></i>Bills
  <% end %>
</div>
