<table class="table table-striped">
  <thead>
  <tr>
    <th>Shifts</th>
    <th>Starts</th>
    <th>End</th>
    <th>If Split</th>
    <th>Split Hour</th>
    <th>Split Start</th>
  </tr>
  </thead>
  <tbody>
  <% @shifts.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.start_time.strftime("%I:%M%p") if f.start_time %></td>
      <td><%= f.end_time.strftime("%I:%M%p") if f.end_time %></td>
      <td><%= f.split %></td>
      <td><%= f.split_hour %></td>
      <td><%= f.split_start.strftime("%I:%M%p") if f.split_start %></td>
    </tr>
  <% end %>
  </tbody>
</table>
