<h3>Patients</h3>
<div class="row">
  <div class="col-sm-2 option-header">
    <%= render "form" %>
  </div>
  <div class="col-sm-12">
    <table class="display table table-striped" id="myTable">
      <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Address</th>
        <th>State</th>
        <th>Country</th>
        <th>Pincode</th>
        <th>Email</th>
      </tr>
      </thead>
      <div class="table-scrollable">
      <tbody>
      <% @patients.each do |f| %>
        <tr>
          <td><%= f.first_name %> <%= f.last_name %></td>
          <td><%= gender(f.gender) %></td>
          <td><%= f.contact_number %></td>
          <td><%= f.address_line %>, <%= f.city %></td>
          <td><%= f.state %></td>
          <td><%= f.country %></td>
          <td><%= f.pincode %></td>
          <td><%= f.email %></td>
        </tr>
      <% end %>
      </tbody>
      </div>
    </table>
  </div>
</div>
